<div class="titulo">
  <div class="linea" id="linea1" [ngStyle]="{'width': anchoLineaPlantel + '%'}"></div>
  <h1>PLANTEL DOCENTE</h1>
  <div class="linea" id="linea2" [ngStyle]="{'width': anchoLineaPlantel + '%'}"></div>
</div>
<div class="descripcion">
  <p [ngStyle]="{'transform' : (transladoDescripcion)?'translateX(0px)':''}">Altamente <strong>calificados</strong>, con más de <strong>veinte años</strong> en el ejercicio de la docencia. Comprometidos con el avance de los alumnos brindándoles las herramientas necesarias para <strong>avanzar</strong> y asimilar los conocimientos. Parte de nuestro plantel se especializa en la preparación de los <strong>exámenes internacionales</strong> con vasta experiencia en los mismos ya que forman parte del equipo que evalúan a los alumnos durante las sesiones de exámenes.</p>
</div>
