<div class="esquina" id="esq1">┌</div>
<div class="titulo">
  <h1>
    <div class="meto-icon"></div>
    METODOLOGÍA
  </h1>
  <div class="subrayado-metodologia"></div>
</div>
<ul>
  <li>
    Basada principalmente en <strong>incentivar</strong> al alumno a comunicarse
    con las herramientas que va incorporando a medida que adquiere estructuras y
    vocabulario.Desde los niveles iniciales se promueve el uso del
    <strong>idioma</strong>.
  </li>
  <li>
    Todos los cursos son <strong>on-line</strong> se maximiza el tiempo y la
    persona puede estudiar desde la comodidad de su casa con muchas herramientas
    tecnológicas, juegos, videos, páginas interactivas. Se comparte siempre
    pantalla con el material usado en clase.
  </li>
  <li>
    <strong>Grupos reducidos y seguimiento personalizado:</strong> BRITTANIA
    destaca la importancia de trabajar en grupos reducidos para darle la
    oportunidad a todos los alumnos de participar en las clases y el seguimiento
    es personalizado ya que el alumno recibe acompañamiento en las áreas que
    necesite intensificar.
  </li>
</ul>
<div class="esquina" id="esq2">┘</div>
