<div class="col-1">
  <div class="text" [ngStyle]="{'transform': 'translate(' + textPosition + 'px)'}">
    <h2>INSTITUTO DE INGLÉS</h2>
    <h1>BRITTANIA INSTITUTE</h1>
    <h3>Nuestra misión es lograr que los alumnos se comuniquen fluida y correctamente en el idioma Inglés proporcionándoles todas las herramientas necesarias para interactuar y desenvolverse en su futuro profesional.</h3>
    <div class="location"><div></div><span>Pampa 610, San Isidro, Buenos Aires, Argentina</span></div>
    <div class="button" (click)="scrollToMetodologia()">SABER MÁS</div>
  </div>
</div>
<div class="col-2" #col2 [ngStyle]="{'background-position': 'center ' + backgroundPosition + 'px'}"></div>
